@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 12px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UpLeft {
  font-size: 100px;
}
.Center {
  font-size: 100px;
  padding: 0 20px 0 20px;
  margin: auto;
}
.DownRight {
  font-size: 100px;
  display: flex;
  justify-content: end;
}
